<!--Including Header partial-->
<%- include ../layouts/header2.ejs %>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<!--Create a form to take input from user-->
<style> 
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 100%;
    }
</style>
<form action="/store/del" method="post" name="form1">
    <table width="25%" border="0">
        <tr>
            Barcode is required for removal, in order to prevent mistakes.
        </tr>
        <tr>
            <td>Barcode</td>
            <td><input type="number" name="barcode" min="0" max="9999999" value="<%= barcode %>"/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="bbname" id="name" value="<%= bbname %>"/></td>
        </tr>
        
        <tr>
            <td></td>
            <td><input type="submit" onclick="return confirm('Are you sure you ' +
                'want to delete this blackbelt, this will remove them from the table?')"name="Submit" value="Remove"/></td>
        </tr>
    </table>
</form>

<!--Including Footer partial-->
<%- include ../layouts/footer.ejs %>