<!--Including Header partial-->
<%- include ../layouts/header2.ejs %>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<style> 
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 100%;
    }
    input[type=email] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=email]:focus {
        width: 100%;
    }
    [type=submit] {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }

    [type=submit] {
        background-color: white; 
        color: black; 
        border: 2px solid blue;
    }

    [type=submit]:hover {
        background-color: blue;
        color: white;
    }
    <
</style>
<!--Create a form to take input from user-->
<form action="/store/email" method="post" name="form1">
    <table width="25%" border="0">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" id="name" value="<%= name %>"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" id="email" value="<%= email %>"/></td>
        </tr>
        <tr>
            <td>Text</td>
            <td><input type="textarea" name="text" style="width:200px; height:600px;" value="<%= text %>"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Submit" value="Send"/></td>
        </tr>
    </table>
</form>

<!--Including Footer partial-->
<%- include ../layouts/footer.ejs %>
