<!--Including Header partial-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" content="height=device-height">
<style> 
    
    body {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        margin: 0px;
    }
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 100%;
    }
    input[type=textarea] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=textarea]:focus {
        width: 100%;
    }
    input[type=email] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=email]:focus {
        width: 100%;
    }
    [type=submit] {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }

    [type=submit] {
        background-color: white; 
        color: black; 
        border: 2px solid blue;
    }

    [type=submit]:hover {
        background-color: blue;
        color: white;
    }
    input:invalid+span:after {
        content: '✖';
        color: black;
        padding-left: 10px;
        position: fixed;
        padding-top: 15px;
    }
    .dark input:invalid+span:after {
        color: white;
    }
    .white input:invalid+span:after {
        color: black;
    }
    .dark td {
        color: white;
    }
    .white td {
        color: black;
    }
    .dark {
        height: 100%;
        background-color: black;
    }
    .white {
        height: 100%;
        background-color: white;
    }
    .dark body {
        background-color: black;
        height: 100%;
    }
    .dark [type=submit] {
        background-color: #333;
    }
    .white [type=submit] {
        background-color: white;
    }
    .dark [type=submit]:hover {
        color: white;
    }
    .white [type=submit] {
        color: black;
    }
    .dark input[type=email] {
        background-color: #333;
        color: white;
        border: 2px solid white;
    }
    .dark input[type=textarea] {
        background-color: #333;
        color: white;
        border: 2px solid white;
    }
    .dark input[type=text] {
        background-color: #333;
        color: white;
        border: 2px solid white;
    }
    .white input[type=email] {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    .white input[type=textarea] {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    .white input[type=text] {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
</style>
<!--Create a form to take input from user-->
<html>
    <body>
<div id="data">
<form action="/store/email" method="post" name="form1">
    <table width="25%" border="0">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" id="name" pattern="[A-z]{1,20}+"  min="1" maxlength="20" value="<%= name %>"/>
                <span class="validity"></span></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" id="email" pattern="\b[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,}\b" min=" @ . " minlength="5" value="<%= email %>"/>
                <span class="validity"></span></td>
        </tr>
        <tr>
            <td>Response</td>
            <td><input type="textarea" name="text" min=" " minlength="1" value="<%= text %>"/>
                <span class="validity"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Submit" value="Send"/></td>
        </tr>
    </table>
</form>
</div>
</head>
</body>
</html>
<script>
    var x = "True";
    var y = "False";
    var localTime = new Date();
    // var localTime = new Date(2018, 11, 24, 10, 33);
    var hours   = localTime.getHours();
    console.log(hours, ' -hours');
    var timeString = "" + hours;
    
    console.log('localTime is ', localTime);
    console.log(timeString);
    if (hours >= 7 && hours <= 19) {
        console.log(x);
        document.getElementById("data").classList.add('white');
    } else {
        console.log(y);
        document.getElementById("data").classList.add('dark');
        // document.getElementById("body-content").classList.add('dark');
    }
</script>
<!--Including Footer partial-->
<%- include ../layouts/footer2.ejs %>
