<!--Including Header Partial-->
<%- include ../layouts/header.ejs %>

<!--Using if-check to see if an error occurred and displaying appropriate message-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>

<script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>
<form action="/store" enctype="multipart/form-data" method="post">
    <input type="file" name="file-to-upload">
    <input type="submit" value="Upload">
</form>
<h3>Refresh Class Numbers</h3>
Please refresh class numbers before adding a new file.<br>
<form action="/store/delete" method="post" style="float:left">
    <input name="delete" onclick="return confirm('Are you sure you ' +
                                'want to refresh classes, this will set everyone to have 0 of everything?')"  type="submit" value='Refresh'>
<input name="_method" type="hidden" value="DELETE">
</form>

<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>