
<!--Including Header Partial-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>
<script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>
<!DOCTYPE html>
<html>
<head>
	<!-- The param which is passed from render-->
    <title><%= title %></title>
    
	<!-- Here is the web page I referenced for the idea of sticky header. -->
	<!-- https://www.w3schools.com/howto/howto_js_sticky_header.asp -->
    <meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<style>
body {
    background-color: black;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0px;
}
header {
    text-align: center;
    display: inline-block;
    width: -webkit-fill-available;
}
header a {
    color: white;
    text-decoration: none;
}
header ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover  .dropbtn {
    background-color: blue;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    text-align: left;
    padding: 12px 16px;
}
.student-card {
    position: relative;
    display: block;
    text-align: -webkit-center;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: rgba(255,255,255, .15);
    box-shadow: 0px 4px 1rem rgba( 255,255,255, 0.9);
    /* border-radius: 4px; */
    color: white;
    font-size: x-large;
}
.student-content {
    display: none;
    padding: 0.5rem;
    /* background-color: #f9f9f9; */
    background-color: rgba( 251,251,251, .95);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
    margin-top: 1rem;
}
.student-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: smaller;
}
.student-content a:hover {
    background-color: #f1f1f1;
    -webkit-appearance: button;
    width: -webkit-fill-available;
}
.student-card:hover .student-content {
    display: block;
}
.student-card:hover {
    /* background-color: blue; */
    background-color: rgba( 0,0,204, .8);
    color: white;
}
div.student-card:hover a {
    color: white;
}
.student-content-defaults {
    float: left;
    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
    padding: .625rem .5rem .625rem;
    font-size: .75rem;
    font-weight: bold;
    background: rgba( 0,0,255, 0.1);
    color: blue;
}
.barcode {
    float: left;
    width: 50%;
}
.barcode:before{
    content: "Card Number";
    float: left;
    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
    padding: .625rem .5rem .625rem;
    font-size: .75rem;
    font-weight: bold;
    background: rgba( 0,0,255, 0.1);
    color: blue;
    border-radius: 4px;
}
.regular::before {
    content: "Regular Class";
    float: left;
    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
    padding: .625rem .5rem .625rem;
    font-size: .75rem;
    font-weight: bold;
    background: rgba( 0,0,255, 0.1);
    color: blue;
    border-radius: 4px;
}
.sparring {
    float: left;
    width: 50%;
}
.sparring::before {
    content: "Sparring Class";
    float: left;
    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
    padding: .625rem .5rem .625rem;
    font-size: .75rem;
    font-weight: bold;
    background: rgba( 0,0,255, 0.1);
    color: blue;
    border-radius: 4px;
}
.swats::before {
    content: "SWAT Class";
    float: left;
    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
    padding: .625rem .5rem .625rem;
    font-size: .75rem;
    font-weight: bold;
    background: rgba( 0,0,255, 0.1);
    color: blue;
    border-radius: 4px;
}
.nameField {
    all: unset; 
    width: -webkit-fill-available;
}

.day {
    background-color: white;
    color: black;
}
.day .student-card {
    background-color: #333;
    box-shadow: 0px 4px 1rem rgba( 0,0,0, 0.9);
}
</style>
<body id="body-content">
        <header>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/store/login">Login</a></li>
                <li><a href="/store/email">Contact</a></li>
            </ul>
            <h1>Black Belt Class Counts</h1><br>
            <h2><%= title %></h2>
        </header>
        <% if (data) { %>
            <% data.forEach(function(item){ %>
        <div class="student-card">
            <button class="nameField"><%= item.bbname %></button>
            <div class="student-content">
                <div class="barcode"><%= item.barcode %></div>
                <div class="regular"><%= item.regular %></div>
                <div class="sparring"><%= item.sparring %></div>
                <div class="swats"><%= item.swats %></div>
            </div>
        </div>
                <% }) %>
            <% } %>
        <script>
            var options = {
                timeZone: "America/Denver", hour12: false,
                hour: 'numeric'
            };
            var formatter = new Intl.DateTimeFormat('en-us', options);
            var localTime = formatter.format(new Date());
            localTime = localTime.replace(':', '');
            var SunCalc = require('suncalc2');
            var times = SunCalc.getTimes(new Date(), 39.7392, 104.9903);
            var sunriseStr = (times.sunrise.getHours() -11).toString();
            var sunset = (times.sunset.getHours() + 14).toString();
            var sunrise = parseInt(sunriseStr);
            var sunset = parseInt(sunset);
            var localTime = parseInt(localTime);
            if (localTime >= sunrise && localTime <= sunset) {
                document.getElementById("body-content").classList.add('day');
            } else {
                console.log(y);
                // document.getElementById("body-content").classList.add('dark');
            }
        </script>  
    </body>
</html>
<%- include ../layouts/footer.ejs %>