
<!--Including Header Partial-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>
<script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>
<!DOCTYPE html>
<html>
<head>
	<!-- The param which is passed from render-->
    <title><%= title %></title>
    
	<!-- Here is the web page I referenced for the idea of sticky header. -->
	<!-- https://www.w3schools.com/howto/howto_js_sticky_header.asp -->
    <meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    .top-container {
    
    }
.content {
    margin-left: .5px;
    margin-right: .5px;
    
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
    padding-top: 50px;
    }
    table {
        border-collapse: collapse;
    }
th {
    background-color: blue;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
@media (min-width: 300px) {
    th {
        /* Since color is in min-width: 300px it will follow all the other sizes upwards */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    th,td {
        width: calc(598px /5);
        text-align: center;
        padding: 8px;
    }
    th:first-child {
        padding-left: 30px;
        padding-right: 25px;
    }
    tr:nth-child(odd) {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    tr:nth-child(even) {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    tr:hover {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
}
@media (min-width: 600px) {
    th, td {
        width: calc(768px / 5);
    }
}

@media (min-width: 768px) {
    th,td {
        width: calc(768px / 5);
    }
}
@media (min-width: 768.02px) {
    th, td {
        width: calc(1024px / 5);
    }
}
@media (min-width: 1024px) {
    body {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    th {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    th,td {
        width: calc(1024px / 5);
    }
    tr:nth-child(odd) {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    tr:nth-child(even) {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    tr:hover {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
}
@media (min-width: 1024.02px) {
    th, td {
        width: calc(1200px / 5);
    }
}
@media (min-width: 1200px) {
    body {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    th {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    th,td {
        width: calc(1600px / 5);
    }
    tr:nth-child(odd) {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    tr:nth-child(even) {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
    tr:hover {
        
        /* If want a single color scheme remove all the background-color in the @media spots */
    }
}
@media (min-width: 1600.02px) {
    th, td {
        width: calc(2000px / 5);
        /* Simple hack for screen larger than 1600 pixels but smaller than 2000 */
    }
}
</style>
<body>
    <div class="top-container">
	<!-- top-container class helps with the Sticky header -->
    <div>
        <ul>
            <li><a href="/store/list3">Home</a></li>
            <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Edit</a>
            <div class="dropdown-content">
                <a href="/store/file">Add File</a>
                <a href="/store/add">Add Blackbelt</a>
                <a href="/store/del">Remove Blackbelt</a>
                <a href="/store/edit">Change Counts</a>
                <a href="/store/additional">Store Classes</a>
            </div>
            </li>
            <li><a href="/store/changelog">Change Log</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
    <h1><%= title %></h1><!--Using if-check to see if an error occurred and displaying appropriate message-->
</div>
	<div>
        <div class="header" id="myHeader">
        <!-- Header class and id work with javascript at bottom for sticky header -->
            <table>
            <!-- Seperate table for the header area. Since it is in seperate DIV group from the body -->
                <tr>
                    <th>Name</th>
                    <th>Card Number</th>
                    <th>Regular Class</th>
                    <th>Sparring Class</th>
                    <th>SWAT Class</th>
                </tr>
            </table>
        </div>
        <div class="content"> 
        <!-- Content class and new table for the content that will be scrolling past the sticky header -->
        <table >
            <% if (data) { %>
                <!-- Using a for-loop to loop over each row in the database.
                The 'data' variable is passed from the store.js during the response.render function call -->
                    <% data.forEach(function(item){ %>
                        <tr>
                            <td><%= item.bbname %></td>
                            <td><%= item.barcode %></td>
                            <td><%= item.regular %></td>
                            <td><%= item.sparring %></td>
                            <td><%= item.swats %></td>
                        </tr>
                    <% }) %>
                <% } %>
        </table>
    </div>
    </div><!--Including Footer Partial-->
    <script>
            window.onscroll = function() {myFunction()};
            
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
            
            function myFunction() {
                if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
                } else {
                header.classList.remove("sticky");
                }
            }
            </script>
</body>
</html>