<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grading for <% bbname %></title>
    <style>
        * {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
        html {
            background-image: linear-gradient(#03d3fc, #ceeef5);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        button, label, input, select {
            display: block;
            font-size: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            height: 30px;
        }
        select {
            -webkit-appearance: none;
            appearance: none;
        }

        .select-wrapper {
            position: relative;
        }

        .select-wrapper::after {
            content: "▼";
            font-size: 1rem;
            top: 6px;
            right: 10px;
            position: absolute;
        }

        input[type="text"], select {
            box-shadow: inset 1px 1px 3px #ccc;
            border-radius: 5px;
        }

        label {
            margin-bottom: 5px;
        }

        button {
            width: 60%;
            margin: 0 auto;
        }
        label{
            font-weight: bold;
        }
        h1, h3, h5 {
            text-align: center;
        }
    </style>
    <div id="grad1">
        <head>
            <h1>Sparring Card for <%= bbname %></h1>
            <h3>Number of grades: <%= data[0].card_count %></h3><br>
            <h5>5 grades are needed for a significant test</h5>
            <h5>3 grades are needed for a progress check</h5>
        </head>
        <body>
            <% if (data[0].card_count < 5) { %>
            <form action="/store/sparring_card" method="POST" autocomplete="off">
                <label for="bb_grader">Grader</label>
                <input type="text" id="bb_grader" name="bb_grader" placeholder="Black Belt Grader" required/><br>
                <label for="attack">Attack</label>
                <div class="select-wrapper"><select name="attack" id="attack" name="attack" required>
                    <optgroup label="Attack Grade">
                        <option value="1">1 &mdash; Poor</option>
                        <option value="2">2 &mdash; Average</option>
                        <option value="3">3 &mdash; Good</option>
                        <option value="4">4 &mdash; Awesome</option>
                    </optgroup>
                </select></div><br>
                <label for="defense">Defense</label>
                <div class="select-wrapper"><select name="defense" id="defense" required>
                    <optgroup label="Defense Grade">
                        <option value="1">1 &mdash; Poor</option>
                        <option value="2">2 &mdash; Average</option>
                        <option value="3">3 &mdash; Good</option>
                        <option value="4">4 &mdash; Awesome</option>
                    </optgroup>
                </select></div><br>
                <label for="footwork">Footwork</label>
                <div class="select-wrapper"><select name="footwork" id="footwork" required>
                    <optgroup label="Footwork Grade">
                        <option value="1">1 &mdash; Poor</option>
                        <option value="2">2 &mdash; Average</option>
                        <option value="3">3 &mdash; Good</option>
                        <option value="4">4 &mdash; Awesome</option>
                    </optgroup>
                </select></div><br>
                <label for="technique">Respect of Technique</label>
                <div class="select-wrapper"><select name="technique" id="technique" required>
                    <optgroup label="Respect of Technique Grade">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </optgroup>
                </select></div><br>
                <label for="control">Control</label>
                <div class="select-wrapper"><select name="control" id="control" required>
                    <optgroup label="Control Grade">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </optgroup>
                </select></div><br>
                <input type="hidden" name="card_count" value="<%= data[0].card_count %>"/>
                <input type="hidden" name="testerID" value="<%= testerID %>"/>
                <input type="hidden" name="bbname" value="<%= bbname %>"/>
                <input type="submit" name="submit" value="Grade"/>
            </form>
            <% } else { %>
                <h3><% bbname %> has reached their maximum number of grades and cannot receive any further grades.</h3>
            <% } %>
        </body>
    </div>
</html>