<%- include ../layouts/header.ejs %>
<h3>For Testing Data <%= date %></h3>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>
<script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>
<!DOCTYPE html>
<html lang="en">
<!--Create a form to take input from user-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style> 
    h3 {
        margin-left:8px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
    h4 {
        margin-left: 8px;
        margin-right: 8px;
    }
    .dark h4{
        color: white;
    }
    .white h4{
        color: black;
    }
    .dark h3{
        color: white;
    }
    .white h3{
        color: black;
    }
    body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 100%;
    }
    [type=submit] {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }

    [type=submit] {
        background-color: white; 
        color: black; 
        border: 2px solid blue;
    }

    [type=submit]:hover {
        background-color: blue;
        color: white;
    }
    .dark td {
        color: white;
    }
    .white td {
        color: black;
    }
    .dark {
        height: 100%;
        background-color: black;
    }
    .white {
        height: 100%;
        background-color: white;
    }
    .white body {
        background-color: white;
    }
    .dark [type=submit] {
        background-color: #333;
    }
    .white [type=submit] {
        background-color: white;
    }
    .dark [type=submit]:hover {
        color: white;
    }
    .white [type = submit]:hover {
        color: white;
    }
    .dark input[type=text]{
        background-color: #333;
        color: white;
        border: 2px solid white;
    }
    .white input[type=text] {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    table {
        margin-left:8px;
        margin-right: 8px;
        margin-bottom: 8px;
    }
</style>
<div id="data">
<form action="/store/test_checkin" method="post" method="post" name="form1" onsubmit="return validateForm()">
    <table width="25%" border="0">
        <tr>
            <td><b>Your Name</b></td><br>
            <td><select name="bbname">
                <option value="">Select Your Name from the List</option>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <option value="<%= data[i].get_names %>"><%= data[i].get_names %></option>
                    <% } %>
            </select></td>
        </tr>
        <tr>
            <td><b>Your Rank</b></td><br>
            <td><select type="text" name="bbrank" id="bbrank">
                <option value="">Select the Rank You Are Testing For</option>
                <option value="Prep Belt">Prep Belt</option>
                <option value="Prep Belt - Progress Check">Prep Belt - Progress Check</option>
                <option value="Conditional">Conditional</option>
                <option value="Conditional - Progress Check">Conditional - Progress Check</option>
                <option value="First Degree">First Degree</option>
                <option value="First Degree - White Bar">First Degree - White Bar</option>
                <option value="First Degree - Gold Bar">First Degree - Gold Bar</option>
                <option value="First Degree - Orange Bar">First Degree - Orange Bar</option>
                <option value="First Degree - Green Bar">First Degree - Green Bar</option>
                <option value="First Degree - Purple Bar">First Degree - Purple Bar</option>
                <option value="First Degree - Blue Bar">First Degree - Blue Bar</option>
                <option value="First Degree - Brown Bar">First Degree - Brown Bar</option>
                <option value="Second Degree">Second Degree</option>
                <option value="Second Degree - Progress Check">Second Degree - Progress Check</option>
                <option value="Third Degree">Third Degree</option>
                <option value="Third Degree - Progress Check">Third Degree - Progress Check</option>
                <option value="Fourth Degree">Fourth Degree</option>
                <option value="Fourth Degree - Progress Check">Fourth Degree - Progress Check</option>
            </select></td>
        </tr>
        <h4>Note: For <b>Your Rank</b>, enter the rank you are testing for, not your current rank.</h4>
        <tr>
            <td></td>
            <td><input type="submit" name="Submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</head>
</div>
<script>
    function validateForm(){
        var bbname = document.forms["form1"]["bbname"].value;
        var bbrank = document.forms["form1"]["bbrank"].value;
        if (bbname == ""){
            alert("Black Belt Name Cannot Be Empty! Please Select Your Name.");
            return false;
        }
        if (bbrank == ""){
            alert("Black Belt Rank Cannot Be Empty! Please Select The Rank You Are Testing For.");
            return false;
        }
    }
</script>
<script>
    var x = "True";
    var y = "False";
    var localTime = new Date();
    // var localTime = new Date(2018, 11, 24, 10, 33);
    var hours   = localTime.getHours();
    console.log(hours, ' -hours');
    var timeString = "" + hours;
    
    console.log('localTime is ', localTime);
    console.log(timeString);

    if (hours >= 7 && hours <= 19) {
        console.log(x);
        document.getElementById("data").classList.add('white');
    } else {
        console.log(y);
        document.getElementById("data").classList.add('dark');
        // document.getElementById("body-content").classList.add('dark');
    }
</script>
<!--Including Footer partial-->
<%- include ../layouts/footer2.ejs %>
